<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:gallery="http://typo3.org/ns/LiquidLight/MediaGallery/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="Before">
		<f:comment>Load Assets (if there are any)</f:comment>
		<gallery:assets engine="{engine}" />
	</f:section>

	<f:section name="Main">
		<f:if condition="{engine.template}">
			<f:then>
				<f:render partial="Content/{engine.template}" arguments="{_all}" />
			</f:then>
			<f:else>
				<f:render partial="Content/Basic.html" arguments="{_all}" />
			</f:else>
		</f:if>
	</f:section>
</html>
