<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:gallery="http://typo3.org/ns/LiquidLight/Gallery/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="Before">
		<f:comment>Load Assets (if there are any)</f:comment>
		<gallery:assets engine="{engine}" />
	</f:section>

	<f:section name="Main">
		<div class="gallery">
			<f:if condition="{engine.template}">
				<f:then>
					<f:render partial="{engine.template}" arguments="{_all}" />
				</f:then>
				<f:else>
					<f:render partial="Basic.html" arguments="{_all}" />
				</f:else>
			</f:if>
		</div>
	</f:section>
</html>
